__pycache__/
.ipynb_checkpoints/
.vscode/
dataset/
training_images/
dataset_B_Eye_Images/
dataset_B_Eye_Images.rar
env/
dlib_face_recognition_resnet_model_v1.dat
shape_predictor_68_face_landmarks.dat
**.pyc
**.png